CarRentalApp/frontend/Connected Services/CarService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarService_AddCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_AddCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_AssignCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_AssignCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_ReturnCar_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_ReturnCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetUserCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetUserCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCarResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetUserCarNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCarNames" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetUserCarNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCarNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarNames" />
  </wsdl:message>
  <wsdl:message name="ICarService_GetCarNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICarService_DeleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="ICarService_DeleteCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarService">
    <wsdl:operation name="AddCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/AddCar" message="tns:ICarService_AddCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/AddCarResponse" message="tns:ICarService_AddCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCars" message="tns:ICarService_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarsResponse" message="tns:ICarService_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/AssignCar" message="tns:ICarService_AssignCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/AssignCarResponse" message="tns:ICarService_AssignCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/ReturnCar" message="tns:ICarService_ReturnCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/ReturnCarResponse" message="tns:ICarService_ReturnCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetUserCar" message="tns:ICarService_GetUserCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetUserCarResponse" message="tns:ICarService_GetUserCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCarNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetUserCarNames" message="tns:ICarService_GetUserCarNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetUserCarNamesResponse" message="tns:ICarService_GetUserCarNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCarNames" message="tns:ICarService_GetCarNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarNamesResponse" message="tns:ICarService_GetCarNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/DeleteCar" message="tns:ICarService_DeleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/DeleteCarResponse" message="tns:ICarService_DeleteCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarService" type="tns:ICarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/AssignCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/ReturnCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetUserCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCarNames">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetUserCarNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarNames">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetCarNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="BasicHttpBinding_ICarService" binding="tns:BasicHttpBinding_ICarService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CarRentalApp/CarService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>